{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div id="page-content" class="index-page container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <div id="main-content">

        <div class="game_search">
        {% if games.items|length == 0 %}
          <form method="get" action="{% url 'search_view' %}">
            <input type="text" name="name">
            <button type="submit">Search</button>
          </form>

          {% else %}
            {% for game_outer in games.items %}
              {% for game in game_outer %}
                  {% if game.game.title and game.game.platforms.all|length > 0 %}
                    <h1>{{game.game.title}}</h1>
                    {% if game.game.description %}
                      <p>{{game.game.description}}</p>
                    {% endif %}
                    {% if game.game.cover_art %}
                      <img src=http:{{game.game.cover_art}}>
                    {% endif %}
                    {% if game.game.aggregate_rating %}
                      <h2>Rating: {{game.game.aggregate_rating|floatformat:0}}/100</h2>
                    {% endif %}



                    <h3 style="font-size:1.2em;">Add to your library</h3>
                    <form action="{% url 'add_game_view' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ game.game.id }}" name="game_id" value="game_id">
                    <select class="btn-skin" name="platforms" style="display: inline; width: 65%;" required>
                      {% for platform in game.game.platforms.all %}
                      {{ platform }}
                        <option value="{{ platform.igdb_platform_id }}">{{ platform.platform_name }}</option>
                      {% endfor %}
                    </select>
                    <input class="btn btn-skin" type="submit" value="Add to library">
                    </form>

                    {% if game.users %}
                    <h3 style="font-size:1.2em;">Borrow from another user</h3>
                    {% for usercopy in game.users %}
                      {% if usercopy.owner != user %}
                      <a href="{% url 'game_detail_view' pk=usercopy.id %}" class="btn btn-skin">{{usercopy.owner}}</a>
                      {% endif %}
                    {% endfor %}

                    {% endif %}


                  {% endif %}
                {% endfor %}
              {% endfor %}

              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
