[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-rest-auth = "*"
django-allauth = "*"

[requires]
python_version = "3.6"
