{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div id="page-content" class="index-page container">
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div id="main-content">
      <article>
        <div class="art-header">
          <a href="{% url 'game_detail_view' pk=random_game.id %}"><h2>{{ random_game.game.title }}</h2></a>

        </div>
        <div class="art-content">
          <img src="{{ random_game.game.cover_art }}" />
          <p>{{ random_game.game.description }}</p>
        <a href="{% url 'game_detail_view' pk=random_game.id %}" class="btn btn-skin">More Details</a>
        </div>
      </article>

      <hr>

    </div>
  </div>

  <div class="col-md-4">
    <div class="bs-sidebar affix hidden-xs hidden-sm" id="sidebar">
      <h3>Recently Added Games</h3>


      <div id="owl-demo1" class="owl-carousel">

        {% for game in recent_games %}
          <div class="item">
            <a href="{% url 'game_detail_view' pk=game.id %}"><img src="{{ game.game.cover_art }}" /></a>
          </div>
        {% endfor %}

      </div>

      <h3>Try these games</h3>

      <div id="owl-demo2" class="owl-carousel">

        {% for game in other_random_games %}
          <div class="item">
            <a href="{% url 'game_detail_view' pk=game.id %}"><img src="{{ game.game.cover_art }}" /></a>
          </div>
        {% endfor %}

      </div>


    </div>
  </div>
  </div>
</div>
{% endblock content %}
