{% extends 'base/base.html' %}

{% block content %}
<div id="page-content" class="index-page container">
  <div class="col-md-8 col-md-offset-2 index-page container">
    <div id="main-content">
      <div class="art-header">
        <h2>Inbox</h2>
        {% if messages %}
        {% for message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
        {% endif %}

        {% if user_messages|length == 0 %}
        <p>You have no messages. Send some, and maybe you'll get some responses.</p>
        {% else %}
          <table>
            <thead>
              <th>From</th>
              <th>Subject</th>
              <th>Received</th>
            </thead>
            {% for message in user_messages %}
            <tr>
              <td>{{ message.from_user.username }}</td>
              {% if message.read == True %}
              <td><a href="{% url 'message_detail_view' pk=message.id %}" style="font-style:italic;">{{ message.subject }}</a></td>
              {% else %}
              <td><a href="{% url 'message_detail_view' pk=message.id %}" style="font-weight:900;">{{ message.subject }} (new)</a></td>
              {% endif %}
              <td>{{ message.sent_date }}</td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}
        </div>
    </div>
  </div>
</div>
{% endblock content %}
