{% extends 'base/base.html' %}

{% block title %}Registration Form{% endblock title %}
{% block pagetitle %}Registration Form{% endblock pagetitle %}

{% block content %}
<div class="row" id="page-content" >
  <div class="col-md-8 col-md-offset-2 index-page container">
    <div id="main-content">
      <article>
        <div class="art-header">
          <h1 class="t-center">Register for an account!</h1>
        </div>
        <div class="art-content">
          <div id="contact_form">
            <form method="post" name="form1" id="ff">
              {% csrf_token %}
              {{ form.as_p }}
              <center><button class="btn btn-skin" type="submit">Register</button></center>
            </form>
          </div>
        </div>
      </article>
    </div>
  </div>
{% endblock %}


  